body{
  background: Black;
  text-align: Center;
  color: white;
  font-family: Verdana;
}

.copywrite{
 text-align: right;
}

h1{
  font-weight: normal;
  font-size: 50px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

p{
  font-size: 21px;
  color: Gray;
}

.link{
  color: aquamarine;
  font-size: 16px;
}
